/*basisinstellingen*/
*{
  border: solid 2px white
}
/* title */
.head {
    height: 60px;
    margin: 10px;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    
    color: rgb(164, 22, 26);
    font-family: Verdana, sans-serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

h2{
    text-align: center
}
/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(229, 56, 59);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    border-radius: 10px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(211, 211, 211);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(177, 167, 166);
}

nav li a.active {
    background-color: rgb(229, 56, 59);
}

/*color combinations*/
/*https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-a6b1a7-d3d3d3-f5f3f4-ffffff*/

/*sise of the circuits*/
.circuits{background-color: rgb(255, 255, 255);
          width: 400px;
          float:right;
          padding: 10px;
          border-radius:10px;
}
